<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 编辑主机 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
    <script src="/static/view.js" type="text/javascript"></script>

  <body>
    <div>
      <form name="edit_host" method="post">
      <table class="midd_table" border="1">
        <tr>
          <td>主机名称:</td><td id="hostname" onclick="edit('hostname','{{ hostname }}')">{{ hostname }}</td>
          <td>主机状态:</td><td>
            <select name="status">
              {% if '在线' in status.decode('utf-8') %}
                  <option value="在线" selected>在线</option>
                  <option value="离线">离线</option>
                  <option value="故障">故障</option>
              {% elif '故障' in status.decode('utf-8') %}
                  <option value="在线">在线</option>
                  <option value="离线">离线</option>
                  <option value="故障" selected>故障</option>
              {% else %}
                  <option value="在线">在线</option>
                  <option value="离线" selected>离线</option>
                  <option value="故障">故障</option>
              {% endif %}
            </select> </td>
        </tr>
        <tr>
          <td>机房编号:</td><td id="motor" onclick="edit('motor','{{ motor }}')">{{ motor }}</td>
          <td>机房名称:</td><td>{{ motorname.decode('utf-8') }}</td>
        </tr>
        <tr>
          <td>机柜编号:</td><td id="cabinet" onclick="edit('cabinet','{{ cabinet }}')">{{ cabinet }}</td>
          <td>在机房中的位置:</td><td>{{ row }}排{{ col }}列</td>
        </tr>
        <tr>
          <td>机器在机柜中的位置:</td><td id="pos" onclick="edit('pos','{{ pos }}')">{{ pos }}</td>
        </tr>
        <tr>
          <td>业务IP:</td><td id="service_ip" onclick="edit('service_ip','{{ service_ip }}')">{{ service_ip }}</td>
          <td>业务MAC:</td><td id="service_mac" onclick="edit('service_mac','{{ service_mac }}')">{{ service_mac }}</td>
        </tr>
        <tr>
          <td>数据IP:</td><td id="data_ip" onclick="edit('data_ip','{{ data_ip }}')">{{ data_ip }}</td>
          <td>数据MAC:</td><td id="data_mac" onclick="edit('data_mac','{{ data_mac }}')">{{ data_mac }}</td>
        </tr>
        <tr>
          <td>监控IP:</td><td id="monitor_ip" onclick="edit('monitor_ip','{{ monitor_ip }}')">{{ monitor_ip }}</td>
          <td>监控MAC:</td><td id="monitor_mac" onclick="edit('monitor_mac','{{ monitor_mac }}')">{{ monitor_mac }}</td>
        </tr>
        <tr>
          <td>iDRAC卡IP:</td><td id="idrac_ip" onclick="edit('idrac_ip','{{ idrac_ip }}')">{{ idrac_ip }}</td>
          <td>iDRAC卡MAC:</td><td id="idrac_mac" onclick="edit('idrac_mac','{{ idrac_mac }}')">{{ idrac_mac }}</td>
        </tr>
        <tr>
          <td>其它IP:</td><td id="rest_ip" onclick="edit('rest_ip','{{ rest_ip }}')">{{ rest_ip }}</td>
          <td>内存:</td><td id="memory" onclick="edit('memory','{{ memory }}')">{{ memory }}</td>
        </tr>
        <tr>
          <td>磁盘:</td><td id="disk" onclick="edit('disk','{{ disk }}')">{{ disk }}</td>
          <td>CPU:</td><td id="cpu" onclick="edit('cpu','{{ cpu }}')">{{ cpu }}</td>
        </tr>
        <tr>
          <td>服务器型号:</td><td id="server_model" onclick="edit('server_model','{{ server_model.decode('utf-8') }}')">{{ server_model.decode('utf-8') }}</td>
          <td>系统版本:</td><td id="system" onclick="edit('system','{{ system }}')">{{ system }}</td>
        </tr>
        <tr>
          <td>BIOS版本:</td><td id="bios_version" onclick="edit('bios_version','{{ bios_version }}')">{{ bios_version }}</td>
          <td>主板型号:</td><td id="board_model" onclick="edit('board_model','{{ board_model.decode('utf-8') }}')">{{ board_model.decode('utf-8') }}</td>
        </tr>
        <tr>
          <td>主板序列号:</td><td id="board_serial" onclick="edit('board_serial','{{ board_serial }}')">{{ board_serial }}</td>
          <td>所属项目:</td><td id="item" onclick="edit('item','{{ item.decode('utf-8') }}')">{{ item.decode('utf-8') }}</td>
        </tr>
        <tr>
          <td>服务类型:</td><td id="service" onclick="edit('service','{{ service.decode('utf-8') }}')">{{ service.decode('utf-8') }}</td>
          <td>打开的端口:</td><td id="port" onclick="edit('port','{{ port }}')">{{ port }}</td>
        </tr>
        <tr>
          <td>负责人:</td><td id="admin" onclick="edit('admin','{{ admin.decode('utf-8') }}')">{{ admin.decode('utf-8') }}</td>
          <td>电话:</td><td id="phone" onclick="edit('phone','{{ phone }}')">{{ phone }}</td>
        </tr>
        <tr>
          <td>创建时间:</td><td>{{ create_date_str }}</td>
          <td>最新修改时间:</td><td>{{ date_str }}</td>
        </tr>
        <tr>
          <td>描述信息:</td><td id="description" colspan='3' onclick="text('description','{{' '.join(description.split()).decode('utf-8')}}')">{{ description.decode('utf-8') }}</td>
        </tr>
        <tr>
          <td colspan="4"><input type="submit" value="更新"></td>
      </table>
      </form>
      <div>
        {% if exe_status %}
          <p>{{ exe_info }}</p>
        {% else %}
          <p>{{ exe_info }}</p>
        {% endif %}
     </div>
    </div>
  </body>
</html>
