<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 搜索机柜 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='frame.css') }}">
    <script src="/static/cabinet.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="container">
    <div class="header">
    <table class="header">
      <tr>
      <form name="search_cabinet" action="{{url_for('search',filename='cabinet.html')}}" method="get">
        <td>机房编号</td><td><input type="text" name="motor"></td>
        <td>机柜编号</td><td><input type="text" name="cabinet"></td>
        <td>机柜高度</td><td><input type="text" name="height"></td>
        <td rowspan="1"><input type="submit" value="搜索">
      </form>

        <td><a href="{{ url_for('add_item',filename='cabinet.html') }}" target="_self"> <input type="button" value="创建机柜"></a>
        <td><input onclick="delete_cabinet()" type="button" value="删除机柜">
      </tr>
    </div>
    <div class="content">
    <table class="content" border="1">
      <tr>
        <th>操作</th><th>ID</th> <th>机柜唯一编号</th><th>所属机房机柜编号</th> <th>机房编号</th> <th>第几排</th> <th>第几列</th><th>高度(u)</th>
      </tr>

      <form name="op_del" id="op_cabinet" method="post" action="{{url_for('delete',filename='cabinet.html')}}">
      {% for row in cabinet_item %}
      {% if row['id'] % 2 == 0 %}
        <tr class="color">
      {% else %}
        <tr>
      {% endif %}
        <td><input type="checkbox" name="cid" value="{{ row['cid'] }}"></td>
        <td onclick="view('{{row['cid']}}')">{{ row['id'] }}</td>
        <td onclick="view('{{row['cid']}}')">{{ row['cid'] }}</td>
        <td onclick="view('{{row['cid']}}')">{{ row['cabinet'].decode('utf-8') }}</td>
        <td onclick="view('{{row['cid']}}')">{{ row['motor'].decode('utf-8') }} </td>
        <td onclick="view('{{row['cid']}}')">{{ row['row'].decode('utf-8') }}</td>
        <td onclick="view('{{row['cid']}}')">{{ row['col'].decode('utf-8') }}</td>     
        <td onclick="view('{{row['cid']}}')">{{ row['height'].decode('utf-8') }}</td>     
      </tr>
     {% endfor %}
     </form>
    </table>
    </div>
    <div class="floor">
    <table class="floor">
      <tr>
<!-- page_num 表示是第几个15页，来确定页面中的页数是从15的几倍开始。和开始的页数，结束的页数。  --!>
        {% set page_num = page // 15 %}
        {% if page % 15 != 0 %}
          {% set page_num = page_num + 1 %}
        {% endif %}
        {% set end_for = page_num * 15 %}
        {% set begin_for = end_for - 14 %}
         
<!-- 确定剩余页数够不够15页，不够就修改循环输出的页数到最后一页--!>
        {% set over_page = pages - begin_for %}
        {% if over_page < 15 %}
          {% set end_for = pages %}
        {% endif %}

        {% for i in range(begin_for,end_for+1) %}
          {% if page == i %}
             <td><a class="pagem" href="cabinet?page={{ i }}" target="_self">{{i}}</a></td>
          {% else %}
            <td><a class="page" href="cabinet?page={{ i }}" target="_self">{{i}}</a></td>
          {% endif %}
        {% endfor %}

        {% if pages > 10 %}
           <form name="dump" action="cabinet" method="post">
           <td>...</td><td><input type="text" name="page"></td>
           <td><input type="submit" value="跳转"></td><td>总共 {{pages}} 页</td><td>{{rows}}台机柜</td>
           </form>
        {% endif %}
       </tr>
     </table>
   </div>
   </div>

  </body>
</html>
