<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 搜索主机 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='frame.css') }}">
  </head>

  <script>
      function view(hid) {
          window.open('{{ url_for('view_item',filename='host.html') }}?hid=' + hid,target='_self')
      }
      function delete_host() {
          var len=document.forms['op_del']['hostname'].length
          var hostname=document.forms['op_del']['hostname']
          var info='确认删除主机 '
          var count=0
          for (i=0;i<len;i++) {
              if (hostname[i].checked == true) {
                  info=info + hostname[i].value
                  count++
              }
          }
          if (count==0) {
           alert('请选择要删除的主机')
          }
          else {
              var sta=confirm(info)
              if (sta==true) {
                  document.getElementById("op_host").submit();
              }
         }
      }
  </script>


  <body>
    <div class="container">
    <div class="header">
    <table class="header">
      <form name="search_host" action="{{ url_for('search',filename='host.html') }}" method="get">
      <tr>
        <td>服务</td><td><input type="text" name="service" value="{{search['service']}}"></td>
        <td>主机名</td><td><input type="text" name="hostname" value="{{search['hostname']}}"></td>
        <td>IP</td><td><input type="text" name="ip" value="{{search['ip']}}"></td>
        <td rowspan="2"><input type="submit" value="搜索">

        <td rowspan="2"><a href="{{ url_for('add_item',filename='host.html') }}" target="_self"> <input type="button" value="创建主机"></a>
        <td rowspan="2"><input onclick="delete_host()" type="button" value="删除主机">
      </tr>
      <tr>
        <td>机房编号</td><td><input type="text" name="motor" value="{{search['motor']}}"></td>
        <td>所属项目</td><td><input type="text" name="item" value="{{search['item']}}"></td>
        <td>运行状态</td>  <td>
            <select name="status">
              {% if '在线' in search['status'] %}
                  <option value="在线" selected>在线</option>
                  <option value="离线">离线</option>
                  <option value="故障">故障</option>
              {% elif '故障' in search['status'] %}
                  <option value="在线">在线</option>
                  <option value="离线">离线</option>
                  <option value="故障" selected>故障</option>
              {% else %}
                  <option value="在线">在线</option>
                  <option value="离线" selected>离线</option>
                  <option value="故障">故障</option>
              {% endif %}
            </select> </td>
      </form>
     </table>
     </div>
    <div class="content">
    <table class="content" border="1">
      <tr>
        <th>ID</th> <th>主机名</th> <th>业务IP</th> <th>数据IP</th> <th>监控IP</th> <th>项目</th> <th>服务</th> <th>系统</th> <th>负责人</th> <th>电话</th> <th>状态</th><th>机房</th>
      </tr>
      <form name="op_del" id="op_host" method="post" action="{{url_for('delete',filename='host.html')}}">
      {% for row in host_item %}
      {% if row['id'] % 2 == 0 %}
        <tr class="color">
      {% else %}
        <tr>
      {% endif %}
        <td><input type="checkbox" name="hostname" value="{{ row['hostname'] }}"></td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['id'] }}</td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['hostname'].decode('utf-8') }} </td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['service_ip'] }}</td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['data_ip'] }}</td>    
        <td onclick="view('{{ row['hid'] }}')">{{ row['monitor_ip'] }}</td>    
        <td onclick="view('{{ row['hid'] }}')">{{ row['item'].decode('utf-8') }}</td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['service'].decode('utf-8') }}</td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['system'].decode('utf-8') }}</td>    
        <td onclick="view('{{ row['hid'] }}')">{{ row['admin'].decode('utf-8') }}</td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['phone'].decode('utf-8') }}</td>    
        <td onclick="view('{{ row['hid'] }}')">{{ row['status'].decode('utf-8') }}</td>
        <td onclick="view('{{ row['hid'] }}')">{{ row['motor'] }}</td>
      </tr>
      {% endfor %}
      </form>
    </table>
    </div>
    <div class="floor">
    <table class="floor">
      <tr>
<!-- page_num 表示是第几个15页，来确定页面中的页数是从15的几倍开始。和开始的页数，结束的页数。比如第一页 // 15 得0,第0个15页，显示的时候会显示1-15的页表  --!>
        {% set page_num = page // 15 %}
        {% if page % 15 != 0 %}
          {% set page_num = page_num + 1 %}
        {% endif %}
        {% set end_for = page_num * 15 %}
        {% set begin_for = end_for - 14 %}
         
<!-- 确定剩余页数够不够15页，不够就修改循环输出的页数到最后一页--!>
        {% set over_page = pages - begin_for %}
        {% if over_page < 15 %}
          {% set end_for = pages %}
        {% endif %}

        {% for i in range(begin_for,end_for+1) %}
          {% if page == i %}
             <td><a class="pagem" href="{{url_for('search',filename='host.html')}}?page={{ i }}&service={{search['service']}}&hostname={{search['hostname']}}&ip={{search['ip']}}&motor={{search['motor']}}&item={{search['item']}}&status={{search['status']}}" target="_self">{{i}}</a></td>
          {% else %}
             <td><a class="page" href="{{url_for('search',filename='host.html')}}?page={{ i }}&service={{search['service']}}&hostname={{search['hostname']}}&ip={{search['ip']}}&motor={{search['motor']}}&item={{search['item']}}&status={{search['status']}}" target="_self">{{i}}</a></td>
          {% endif %}
        {% endfor %}

        {% if pages > 0 %}
         <form name="dump" action="{{url_for('search',filename='host.html')}}" method="post">
         <td>...</td><td><input type="text" name="page"></td>
         <td><input type="submit" value="跳转"></td><td>总共 {{pages}} 页</td><td>{{rows}}台主机</td>
         <input type="hidden" name="service" value="{{search['service_ip']}}">
         <input type="hidden" name="hostname" value="{{search['hostname']}}">
         <input type="hidden" name="ip" value="{{search['ip']}}">
         <input type="hidden" name="motor" value="{{search['motor']}}">
         <input type="hidden" name="item" value="{{search['item']}}">
         <input type="hidden" name="status" value="{{search['status']}}">
         </form>
        {% endif %}
       </tr>
     </table>
    </div>
  </div>
  </body>
</html>
