<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 创建机柜 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script>
        function decideForm() {
            var motor=document.forms["add_item"]["motor"].value
            var cabinet=document.forms["add_item"]["cabinet"].value
            if (motor==null || motor=="") { alert("机房编号不能为空"); return false;}
            if (cabinet==null || cabinet=="") { alert("机柜编号不能为空"); return false;}
        }
    </script>
  </head>

  <body>
    <div>
      <table class="midd_table" border="1">
      <form name="add_item" action="{{ url_for('add_item',filename='cabinet.html') }}" onsubmit="return decideForm()" method="post">
        <tr>
          <td>机房编号:</td>
          <td id="motor"><input type="text" name="motor"></td>
          <td>机柜编号:</td>
          <td id="cabinet"><input type="text" name="cabinet"></td>
        </tr>
        <tr>
          <td>第几排</td>
          <td id="row"><input type="text" name="row"></td>
          <td>第几列</td>
          <td id="col"><input type="text" name="col"></td>
        </tr>
        <tr>
          <td>机柜高度:</td>
          <td id="height"><input type="text" name="height"></td>
        </tr>
        <tr>
          <td>描述信息:</td>
            <td id="description" colspan="3"><textarea name="description" rows="3" cols="130"></textarea></td>
        </tr>
        <tr>
          <td colspan="4"><input type="submit" value="提交"></td>
        </tr>
      <form>
    </table>
      <div>
        {% if exe_status %}
          <p>{{ exe_info }}</p>
        {% else %}
          <p>{{ exe_info }}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
