<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 创建主机 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>

  <body>
    <div>
      <table class="midd_table" border="1">
      <form name="add_host" action="{{ url_for('add_item',filename='host.html') }}" method="post">
        <tr>
          <td>主机名称:</td>
          <td id="hostname"><input type="text" name="hostname"></td>
          <td>主机状态:</td><td>
            <select name="status">
              <option value="在线">在线</option>
              <option value="离线">离线</option>
              <option value="故障">故障</option>
            </select> </td>
        </tr>
        <tr>
          <td>机房编号:</td>
          <td id="motor"><input type="text" name="motor"></td>
          <td>机柜编号:</td>
          <td id="cabinet"><input type="text" name="cabinet"></td>
        </tr>
        <tr>
          <td>业务IP:</td>
          <td id="service_IP"><input type="text" name="service_ip"></td>
          <td>业务MAC:</td>
          <td id="service_mac"><input type="text" name="service_mac"></td>
        </tr>
        <tr>
          <td>数据IP:</td>
          <td id="data_IP"><input type="text" name="data_ip"></td>
          <td>数据MAC:</td>
          <td id="data_mac"><input type="text" name="data_mac"></td>
        </tr>
        <tr>
          <td>监控IP:</td>
          <td id="monitor_IP"><input type="text" name="monitor_ip"></td>
          <td>监控MAC:</td>
          <td id="monitor_mac"><input type="text" name="monitor_mac"></td>
        </tr>
        <tr>
          <td>iDRAC卡IP:</td>
          <td id="idrac_IP"><input type="text" name="idrac_ip"></td>
          <td>iDRAC卡MAC:</td>
          <td id="idrac_mac"><input type="text" name="idrac_mac"></td>
        </tr>
        <tr>
          <td>其它IP:</td>
          <td id="rest_ip"><input type="text" name="rest_ip"></td>
          <td>内存:</td>
          <td id="memory"><input type="text" name="memory"></td>
        </tr>
        <tr>
          <td>磁盘:</td>
          <td id="disk"><input type="text" name="disk"></td>
          <td>CPU:</td>
          <td id="cpu"><input type="text" name="cpu"></td>
        </tr>
        <tr>
          <td>服务器型号:</td>
          <td id="server_model"><input type="text" name="server_model"></td>
          <td>系统版本:</td>
          <td id="system"><input type="text" name="system"></td>
        </tr>
        <tr>
          <td>BIOS版本:</td>
          <td id="bios_version"><input type="text" name="bios_version"></td>
          <td>主板型号:</td>
          <td id="board_model"><input type="text" name="board_model"></td>
        </tr>
        <tr>
          <td>主板序列号:</td>
          <td id="board_serial"><input type="text" name="board_serial"></td>
          <td>所属项目:</td>
          <td id="item"><input type="text" name="item"></td>
        </tr>
        <tr>
          <td>服务类型:</td>
          <td id="service"><input type="text" name="service"></td>
          <td>打开的端口:</td>
          <td id="port"><input type="text" name="port"></td>
        </tr>
        <tr>
          <td>负责人:</td>
          <td id="admin"><input type="text" name="admin"></td>
          <td>电话:</td>
          <td id="phone"><input type="text" name="phone"></td>
        </tr>
        <tr>
          <td>机柜中的位置:</td>
          <td id="pos"</td><input type="text" name="pos"></td>
        </tr>
        <tr>
          <td>描述信息:</td>
          <td id="description" colspan="3"><textarea name="description" rows="3" cols="130"></textarea></td>
        </tr>
        <tr>
          <td colspan="4"><input type="submit" value="提交"></td>
      <form>
    </table>
      <div>
        {% if exe_status %}
          <p>{{ exe_info }}</p>
        {% else %}
          <p>{{ exe_info }}</p>
        {% endif %}
     </div>
    </div>
  </body>
</html>
