<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 创建机房 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script>
        function decideForm() {
            var motor=document.forms["add_item"]["motor"].value
            if (motor==null || motor=="") { alert("机房编号不能为空"); return false;}
        }
    </script>
  </head>

  <body>
    <div>
      <table class="midd_table" border="1">
      <form name="add_item" action="{{ url_for('add_item',filename='motor.html') }}" onsubmit="return decideForm()" method="post">
        <tr>
          <td>机房编号:</td>
          <td id="motor"><input type="text" name="motor"></td>
          <td>机房名称:</td>
          <td id="motorname"><input type="text" name="motorname"></td>
        </tr>
        <tr>
          <td>机房地址:</td>
          <td id="address" colspan="3"><input type="text" name="address"></td>
        </tr>
        <tr>
          <td>管理员:</td>
          <td id="admin"><input type="text" name="admin"></td>
          <td>电话:</td>
          <td id="phone"><input type="text" name="phone"></td>
        </tr>
        <tr>
          <td>描述信息:</td>
             <td id="description" colspan="3"><textarea name="description" rows="3" cols="130"></textarea></td>
        </tr>
        <tr>
          <td colspan="4"><input type="submit" value="提交"></td>
      <form>
    </table>
      <div>
        {% if exe_status %}
          <p>{{ exe_info }}</p>
        {% else %}
          <p>{{ exe_info }}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
