html,p                {font-family:"宋体",serif,Times;font-size:0.9em;font-weight:800;}
a                     {text-decoration:none;}
a:visited,a:link      {color:#000000;display:block;}
a:hover               {width:100%;background:#9999ff;}

div.header            {float:left;width:100%;height:75px;background:#ebebff;font-weight:600;}
div.header_right      {float:right;width:20%;height:90%;}
div.header_left       {float:left;width:20%;height:90%;}
table.header_right    {width:80%;height:100%;text-align:right;float:left;}
table.header_left     {width:70%;height:100%;float:left;text-align:left;}

div.left              {float:left;width:10%;height:900px;background:#eeeede;}
table.left            {float:left;width:80%;height:65%;font-weight:600;font-size:1.3em;text-align:center;}
div.midd              {float:left;width:90%;height:900px;}
iframe                {width:100%;height:890px;}
