h1 {
    color:red;
    font-size: 50px;
    background-color: black;
}

h2 {
    color: blue;
    font-family: 楷体;
    font-size: 30px;
    text-align: center;
    background-color: yellow;
}

a {
    color: red;
    text-decoration: none;
}
