<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 机柜框架 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script>
      function view(cid) {
          window.open('{{ url_for('view_item',filename='cabinet.html') }}?cid=' + cid,target='_self')
      }
    </script>
  </head>

  <body>
    <div class="midd_container_left">
    <table>
      <tr>
      <form name="search_host" action="search" method="get">
        <td>机房编号</td><td><input type="text" name="motor"></td>
        <td>机柜编号</td><td><input type="text" name="cabinet"></td>
        <td>机柜高度</td><td><input type="text" name="height"></td>
        <td rowspan="1"><input type="submit" value="搜索">
      </form>

        <td><a href="{{ url_for('add_item',filename='cabinet.html') }}" target="_self"> <input type="button" value="创建机柜"></a>
        <td><input type="button" value="删除机柜">
      </tr>
    <table class="midd_table" border="1">
      <tr>
        <th>ID</th> <th>机柜</th> <th>机房编号</th> <th>第几排</th> <th>第几列</th><th>高度(u)</th>
      </tr>

      {% for row in cabinet_item %}
      <tr onclick="view('{{row['cid']}}')">
        <td>{{ row['id'] }}</td>
        <td>{{ row['cabinet'].decode('utf-8') }}</td>
        <td>{{ row['motor'].decode('utf-8') }} </td>
        <td>{{ row['row'].decode('utf-8') }}</td>
        <td>{{ row['col'].decode('utf-8') }}</td>     
        <td>{{ row['height'].decode('utf-8') }}</td>     
      </tr>
     {% endfor %}
    </table>
    <br><br><hr><br>
    <table class="page">
      <tr>
<!-- page_num 表示是第几个15页，来确定页面中的页数是从15的几倍开始。和开始的页数，结束的页数。  --!>
        {% set page_num = page // 15 %}
        {% if page % 15 != 0 %}
          {% set page_num = page_num + 1 %}
        {% endif %}
        {% set end_for = page_num * 15 %}
        {% set begin_for = end_for - 14 %}
         
<!-- 确定剩余页数够不够15页，不够就修改循环输出的页数到最后一页--!>
        {% set over_page = pages - begin_for %}
        {% if over_page < 15 %}
          {% set end_for = pages %}
        {% endif %}

        {% for i in range(begin_for,end_for+1) %}
          {% if page == i %}
             <td><a class="pagem" href="cabinet?page={{ i }}" target="_self">{{i}}</a></td>
          {% else %}
            <td><a class="page" href="cabinet?page={{ i }}" target="_self">{{i}}</a></td>
          {% endif %}
        {% endfor %}

        {% if pages > 10 %}
           <form name="dump" action="cabinet" method="post">
           <td>...</td><td><input type="text" name="page"></td>
           <td><input type="submit" value="跳转"></td><td>总共 {{pages}} 页</td>
           </form>
        {% endif %}
       </tr>
     </table>
   </div>

  </body>
</html>
