<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 主机框架 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <script>
      function view(hid) {
          window.open('{{ url_for('view_item',filename='host.html') }}?hid=' + hid,target='_self')
      }
  </script>

  <body>
    <div class="midd_container_left">
    <table>
      <form name="search_host" action="{{ url_for('search',filename='host') }}" method="get">
      <tr>
        <td>服务</td><td><input type="text" name="service"></td>
        <td>主机名</td><td><input type="text" name="hostname"></td>
        <td>IP</td><td><input type="text" name="ip"></td>
        <td rowspan="2"><input type="submit" value="搜索">

        <td rowspan="2"><a href="{{ url_for('add_item',filename='host.html') }}" target="_self"> <input type="button" value="创建主机"></a>
        <td rowspan="2"><input type="button" value="删除主机">
      </tr>
      <tr>
        <td>机房编号</td><td><input type="text" name="motor"></td>
        <td>所属项目</td><td><input type="text" name="item"></td>
        <td>运行状态</td>  <td>
        <select name="status">
          <option value="在线">在线</option>
          <option value="离线">离线</option>
          <option value="故障">故障</option>
        </select> </td>
      </form>
    <table class="midd_table" border="1">
      <tr>
        <th>ID</th> <th>主机名</th> <th>业务IP</th> <th>数据IP</th> <th>监控IP</th> <th>项目</th> <th>服务</th> <th>系统</th> <th>负责人</th> <th>电话</th> <th>状态</th><th>机房</th>
      </tr>

      {% for row in host_item %}
      <tr onclick="view('{{ row['hid'] }}')">
        <td>{{ row['id'] }}</td>
        <td>{{ row['hostname'].decode('utf-8') }} </td>
        <td>{{ row['service_ip'] }}</td>
        <td>{{ row['data_ip'] }}</td>     
        <td>{{ row['monitor_ip'] }}</td>     
        <td>{{ row['item'].decode('utf-8') }}</td>
        <td>{{ row['service'].decode('utf-8') }}</td>
        <td>{{ row['system'].decode('utf-8') }}</td>     
        <td>{{ row['admin'].decode('utf-8') }}</td>
        <td>{{ row['phone'].decode('utf-8') }}</td>     
        <td>{{ row['status'].decode('utf-8') }}</td>
        <td>{{ row['motor'] }}</td>
      </tr>
      {% endfor %}
    </table>
    <br><br><hr><br>
    <table class="page">
      <tr>
<!-- page_num 表示是第几个15页，来确定页面中的页数是从15的几倍开始。和开始的页数，结束的页数。比如第一页 // 15 得0,第0个15页，显示的时候会显示1-15的页表  --!>
        {% set page_num = page // 15 %}
        {% if page % 15 != 0 %}
          {% set page_num = page_num + 1 %}
        {% endif %}
        {% set end_for = page_num * 15 %}
        {% set begin_for = end_for - 14 %}
         
<!-- 确定剩余页数够不够15页，不够就修改循环输出的页数到最后一页--!>
        {% set over_page = pages - begin_for %}
        {% if over_page < 15 %}
          {% set end_for = pages %}
        {% endif %}

        {% for i in range(begin_for,end_for+1) %}
          {% if page == i %}
             <td><a class="pagem" href="host?page={{ i }}" target="_self">{{i}}</a></td>
          {% else %}
            <td><a class="page" href="host?page={{ i }}" target="_self">{{i}}</a></td>
          {% endif %}
        {% endfor %}

        {% if pages > 10 %}
           <form name="dump" action="host" method="post">
           <td>...</td><td><input type="text" name="page"></td>
           <td><input type="submit" value="跳转"></td><td>总共 {{pages}} 页</td><td>{{rows}}台主机</td>
           </form>
        {% endif %}
       </tr>
     </table>
    </div>

  </body>
</html>
