<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 主机框架 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>

  <body>
    <table class="midd_table" border="1">
      <tr>
        <th>HID</th> <th>主机名</th> <th>Address</th> <th>项目</th> <th>状态</th> <th>服务类型</th> <th>负责人</th> <th>电话</th>
      </tr>
      <form name"op_host" action="motor" method="post">
      <tr class="midd_input">
        <td></td>
        <td><input type="text" name="hostname"</td>
        <td><input type="text" name="address"</td>
        <td><input type="text" name="admin"</td>
        <td><input type="text" name="phone"</td>
        <td><input type="submit" value="Add"</td>
      </tr>
      </form>

      {% for row in host_item %}
      <tr>
        <th>{{ row['hid'] }}</th>
        <th>{{ row['hostname'] }} </th>
        <th><select>
            {% for ip in row['ip'] %}
              <option>{{ ip }}</option>
            {% endfor %}
            </select>
        </th>
        <th>{{ row['item'] }}</th>
        <th>{{ row['status'] }}</th>
        <th>{{ row['service'] }}</th>
        <th>{{ row['admin'] }}</th>
        <th>{{ row['phone'] }}</th>     
      </tr>
     {% endfor %}
    </table>
  </body>
</html>
