<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 服务器管理 </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="icon" href="favicon.png" type="image/x-icon">
  </head>

  <body>
    <div class="all">
    <div class="container_top">
      <div class="container_top_left">
      <table class="table_top_left">
        <tr>
          <td class="userinfo">用户: {{ username }}</td>
          <td class="userinfo"><a class="one" href="/logout"> 退出登录</a></td>
        </tr>
        <tr>
          <td class="userinfo">状态: {{ status }}</td>
        </tr>
      </table>
      </div>
      <div class="container_top_right" style="float=right">
        <table class="table_top_right">
          <form name="search" action="search" method="post">
          <tr>
            <td>主机名<input type="checkbox" name="search_item" value="hostname" checked="checked"> </td>
            <td>IP地址<input type="checkbox" name="search_item" value="ip"></td>
            <td>项目<input type="checkbox" name="search_item" value="item"></td>
            <td>机房编号<input type="checkbox" name="search_item" value="motor"></td>
          </tr>
          <tr>
            <td colspan="4"><input class="middle" type="text" name="search_content" cols="35"> <input type="submit" value="搜索"></td>
          </tr>
          </form>
        </table>
      </div>
    </div>
    <div class="container_left">
      <table class="table_left">
        <tr><td><a href="?frame_id=host">主机管理</a></td></tr>
        <tr><td><a href="?frame_id=motor">机房管理</a></td>
        <tr><td><a href="?frame_id=cabinet">机柜管理</a></td></tr>
        <tr><td><a href="?frame_id=user">用户管理</a></td></tr>
      </table>
    </div>
    <div class="container_middle">
      <iframe name="show" frameborder="0" src="{{ frame_id or "host?page=1" }}">您的浏览器不支持框架</iframe>
    </div>
      <p style="float:bottom"><a href="https://trustlogo.com"><img src="static/comodo.png" alt="comodo ssl"></a></p>
  </div>
  </body>
</html>
    
