<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
  </head>
  <body>
  <div class="container">
   <div class="midd">
    <table class="left">
    <form name="logup" action="/logup" method="post">
    <tr>
      <th>用户名: </th>
      <th><input type="text" name="username"></th>
    </tr>
    <tr>
      <th>密码: </th>
      <th><input type="password" name="password"></th>
    </tr>
    <tr>
      <th>重复密码: </th>
      <th><input type="password" name="password_again"></th>
    <tr>
      <th>部门: </th>
      <th><input type="text" name="section"></th>
    </tr>
    <tr>
      <th>电话: </th>
      <th><input type="text" name="phone"></th>
    </tr>
    <tr>
      <th>邮件: </th>
      <th><input type="text" name="email"></th>
    </tr>
    <tr>
      <th colspan="2"><input type="submit" value="注册"></th>
    </tr>
    </form>
    <tr>
      <th colspan="2">{{ logup_info }}</th>
    </tr>
    </table>
    <table class="right">
      <form name='input' action="/login" method='post' target="_top">
      <tr>
          <th>UserName: </th>
          <th><input type='text' name='username'></th>
      </tr>
      <tr>
          <th>Password: </th>
          <th><input type='password' name='password'></th>
      </tr>
      <tr>
          <th colspan='2'><input type='submit' value='登录'></th>
      </tr>
      <tr>
      </tr>
          <th colspan="2">{{login_info}}</th>
      </form>
    </table>
    
    </div>
  </div>
</body>
</html>


