<!DOCTYPE html>
<html>
  <head>
    <title> flask test the view </title>
  </head>
  <body>
    <p>title is {{ title }}</p>
    <p>title is {{ text }}</p>
    <p>error is {{ error }}</p>
    <table border='0'>
      <form name='input' method='post'>
      <tr>
          <th>UserName: </th>
          <th><input type='text' name='username'></th>
      </tr>
      <tr>
          <th>Password: </th>
          <th><input type='text' name='password'></th>
      </tr>
      <tr>
          <th colspan='2'><input type='submit' value='Submit'></th>
      </tr>
      </form>
    </table>
  </body>
</html>
